TESTING JOURNAL SHOW PAGE

<div>
  <span>Title:</span>
  <span><%= @journal.title %></span>
</div>

<div>
  <span>Entry:</span>
  <span><%= @journal.entry %></span>
</div>

<%= link_to 'Back', portfolio_position_path(portfolio_id: @journal.position.portfolio_id, id: @journal.position_id) %>